{% if htmx_error_title is defined and htmx_error_body is defined %}
<script>
    swalPopup("error", "{{ htmx_error_title }}", "{{ htmx_error_body | raw }}");
</script>
{% endif %}

{% if dataArray is empty %}
    <div class="mt-3">
        <h5 class="fw-semibold">There's nothing here. Try adding an entry!</h5>
    </div>
{% endif %}

{% for key, list in dataArray %}
<div class="mt-3" id="{{ key }}">
    <h5 class="fw-semibold">{{ key }}</h5>

    {% if key == "Watching" %}
        {% set list_container_id = "list-container-watching" %}
    {% elseif key == "Plan to watch" %}
        {% set list_container_id = "list-container-plantowatch" %}
    {% elseif key == "Completed" %}
        {% set list_container_id = "list-container-completed" %}
    {% elseif key == "Favorites" %}
        {% set list_container_id = "list-container-favorites" %}
    {% endif %}
    <div class="list-container" id="{{ list_container_id }}">
        <div class="flex-container list-header p-1">
            <div class="flex-entry list-nr me-2">#</div>
            <div class="flex-entry list-title sort" data-sort="sort-title">title</div>
            <div class="flex-entry list-modal"></div>
            <div class="flex-entry list-score me-5 sort" data-sort="sort-score">score</div>
            <div class="flex-entry list-progress me-5 sort" data-sort="sort-progress" data-default-order="asc">progress</div>
            <div class="flex-entry list-type me-4 sort" data-sort="sort-type"><i class="fa fa-play" aria-hidden="true"></i></div>
            <div class="flex-entry list-rewatch me-4 sort" data-sort="sort-rewatch"><i class="fa fa-refresh" aria-hidden="true"></i></div>
            <div class="flex-entry list-favorite me-4"><i class="fa fa-heart" aria-hidden="true"></i></div>
            <div class="flex-entry list-comment sort" data-sort="sort-comment"><i class="fa fa-comment" aria-hidden="true"></i></div>
        </div>

        <ul class="list">
            {% for entry in list %}
            <div id="list-entry-{{ entry.index }}" class="list flex-container list-entry d-flex align-items-center p-1">
                <!-- index -->
                <li class="flex-entry list-nr me-2">
                    <span>{{ entry.index }}</span>
                </li>
                <!-- title -->
                <li class="flex-entry list-title">
                    <span class="sort-title" id="title-{{ entry.index }}">{{ entry.title }} {{ entry.season }} ({{ entry.year }})</span>
                </li>

                <li onclick="populateChangeEntryModal(this.id);" id="modal-{{ entry.index }}" class="flex-entry list-modal d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#modalExisting">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </li>

                <!-- score -->
                <li class="flex-entry list-score me-5">
                    <span class="sort-score" id="score-{{ entry.index }}">{% if entry.score == 0 %} 🤔 {% else %} {{ entry.score }} {% endif %}</span>
                </li>

                <!-- progress -->
                <li class="flex-entry list-progress me-5">
                    <span id="progress-{{ entry.index }}">{{ entry.progress }}</span>/<span class="sort-progress" id="progress_length-{{ entry.index }}">{{ entry.progress_length }}</span>
                </li>

                <!-- type -->
                <li class="flex-entry list-type me-4">
                    <span class="sort-type" id="type-{{ entry.index }}">{{ entry.type }}</span>
                </li>

                <!-- rewatch -->
                <li class="flex-entry list-rewatch me-4">
                    <span class="sort-rewatch" id="rewatch-{{ entry.index }}">{{ entry.rewatch }}</span>
                </li>

                {% if entry.favorite == "on" %}
                    {% set favorite_icon = '<i class="fa fa-check-square" aria-hidden="true"></i>' %}
                {% else %}
                    {% set favorite_icon = '<i class="fa fa-square-o" aria-hidden="true"></i>' %}
                {% endif %}

                {% if entry.comment is not null %}
                    {% set comment_icon = '<i class="fa fa-sticky-note" aria-hidden="true"></i>' %}
                {% else %}
                    {% set comment_icon = "n/a" %}
                {% endif %}

                <!-- favorite -->
                <li class="flex-entry list-favorite me-4">
                    <span id="favorite-{{ entry.index }}" real-value="{{ entry.favorite }}">{{ favorite_icon | raw }}</span>
                </li>

                <!-- comment -->
                <li class="flex-entry list-comment">
                    <span class="sort-comment" id="comment-{{ entry.index }}" real-value="{{ entry.comment }}">{{ comment_icon | raw }}</span>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>

</div>
{% endfor %}
